{% import "bootstrap/wtf.html" as wtf %}
{% extends "layout.html" %}
{% block title %}Add Project{% endblock %}
{% block page_content %}

<div class="container-fluid">
    <form class="form form-horizontal" method="post" enctype=multipart/form-data>
        {{ form.csrf_token }}

        <!--Project Name-->
        {{ wtf.form_field(form.projectname, placeholder="Enter Project Name", form_type="horizontal", horizontal_columns=('sm', 2, 5)) }}

        <!--TestSuites-->
        {{ wtf.form_field(form.testsuites, multiple="", class="form-control", form_type="horizontal", horizontal_columns=('sm', 2, 5)) }}

        <!--TestFiles-->
        {{ wtf.form_field(form.testfiles, multiple="", class="form-control", form_type="horizontal", horizontal_columns=('sm', 2, 5)) }}

        <!--ConfigFile-->
        {{ wtf.form_field(form.configfile, onchange="set_textarea(this.value)", class="form-control", form_type="horizontal", horizontal_columns=('sm', 2, 5)) }}

        <!--EditConfigFile-->
        {{ wtf.form_field(form.configcontent, rows="13", form_type="horizontal", horizontal_columns=('sm', 2, 5)) }}
        
        <!--Mode-->
        <div class="form-group ">
            <label class="control-label  col-sm-2" for="mode">Run Mode</label>
            <div class=" col-sm-5">
                {{ wtf.form_field(form.mode) }}
            </div>
        </div>

        <!--Submit-->
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-5">
                    {{ wtf.form_field(form.submit, button_map={'submit': 'primary'}) }}
                    {{ wtf.form_field(form.cancel, type="button", onclick="window.location='/'") }}
            </div>
        </div>

    </form>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
    function set_textarea(value) {
        var elem = document.getElementById('configcontent');
        if (value == '') {
            elem.readOnly = false
        } else {
            elem.readOnly = true
        }
    }
</script>
{% endblock %}