{% import "bootstrap/wtf.html" as wtf %}
{% extends "layout.html" %}
{% block title %}Edit Project{% endblock %}
{% block page_content %}

<div class="container-fluid">
    <form class="form form-horizontal" method="post" enctype=multipart/form-data>
        {{ form.csrf_token }}

        <!--Projectname-->
        {{ wtf.form_field(form.projectname, form_type="horizontal", horizontal_columns=('sm', 2, 5)) }}

        <!--TestSuites-->
        <div class="form-group ">
            <label class="control-label col-sm-2" for="testsuites">TestSuites</label>
            <div class=" col-sm-5">
                {% for testsuite in getsuites(userid, projectid) %}
                <span>{{ testsuite }}</span>
                <a href="#" style="text-decoration:none;" onclick="delete_testsuite('{{ testsuite }}')">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true">
                </a>
                {% endfor %}
                {{ form.testsuites(multiple="", class="form-control") }}
            </div>
        </div>

        <!--TestFiles-->
        <div class="form-group ">
            <label class="control-label col-sm-2" for="testfiles">TestFiles</label>
            <div class=" col-sm-5">
                {% for testfile in getfiles(userid, projectid) %}
                <span>{{ testfile }}</span>
                <a href="#" style="text-decoration:none;" onclick="delete_testfile('{{ testfile }}')">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true">
                </a>
                {% endfor %}
                {{ form.testfiles(multiple="", class="form-control") }}
            </div>
        </div>

        <!--ReplceConfigFile-->
        <div class="form-group ">
            <label class="control-label col-sm-2" for="configfile">Config File</label>
            <div class=" col-sm-5">
                <span>config.ini</span>
                {{ form.configfile(onchange="set_textarea(this.value)", class="form-control") }}
            </div>
        </div>

        <!--EditConfigFile-->
        {{ wtf.form_field(form.configcontent, rows="13", form_type="horizontal", horizontal_columns=('sm', 2, 5)) }}
        
        <!--Run Mode-->
        <div class="form-group ">
            <label class="control-label col-sm-2" for="mode">Run Mode</label>
            <div class=" col-sm-5">
                {{ wtf.form_field(form.mode) }}
            </div>
        </div>
        
        <!--Submit-->
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-5">
                    {{ wtf.form_field(form.submit, button_map={'submit': 'primary'}) }}
                    {{ wtf.form_field(form.cancel, type="button", onclick="window.location='/'") }}
            </div>
        </div>
    </form>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
    function delete_testsuite(filename) {
        $.post("/delete_testsuite", { "projectid": "{{ projectid }}", "filename": filename },function (result) {
            window.location = '{{ url_for("edit", projectid=projectid) }}';});
    }
    function delete_testfile(filename) {
        $.post("/delete_testfile", { "projectid": "{{ projectid }}", "filename": filename },function (result) {
            window.location = '{{ url_for("edit", projectid=projectid) }}';});
    }
    function set_textarea(value) {
        var elem = document.getElementById('configcontent');
        if (value == '') {
            elem.readOnly = false
        } else {
            elem.readOnly = true
        }
    }
</script> 
{% endblock %}