{% extends "bootstrap/base.html" %} {% block title %} V2Test Management{% endblock %} {% block navbar %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index">V2Test Management</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            {% if username %}
            <p class="navbar-text">Hello, {{ username }}</p>
            {% endif %}
            <!--<ul class="nav navbar-nav">
                    <li class="active">
                        <a href="#">Projects</a>
                    </li>
                </ul>-->
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %} {% block content%}
<div class="container-fluid">
    {% if info %}
    <div class="alert alert-info" role="alert">{{ info }}</div>
    {% endif %} {% if error %}
    <div class="alert alert-danger" role="alert">{{ error }}</div>
    {% endif %}
</div>
{% block page_content %}{% endblock %} {% endblock %}