{% import "bootstrap/wtf.html" as wtf %} {% extends "layout.html" %} {% block title %} Login {% endblock %} {% block styles
%} {{ super() }}
<style>
    .main {
        width: 300px;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
</style>
{% endblock %} {% block page_content %}
<div class="container">
    <div class="main">
        <h2>Login</h2>
        <form method="post" , class="form" , role="form">
            {{ form.csrf_token }}
            {{ wtf.form_field(form.username) }}
            {{ wtf.form_field(form.password) }}
            {{ wtf.form_field(form.submit, button_map={'submit': 'primary'}) }}
            {{ wtf.form_field(form.reg, type="button", onclick="window.location='/reg'")}}
        </form>
    </div>
</div>
{% endblock %} {% block log_action %}
<a href="reg">Register</a>
{% endblock %}