{% extends "layout.html" %}{% import "bootstrap/wtf.html" as wtf %}
{% block title %} Register {% endblock %} {% block styles
    %} {{ super() }}
    <style>
        .main {
            width: 300px;
            margin: auto;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    </style>
    {% endblock %} {% block page_content %}
    <div class="container">
        <div class="main">
            <h2>Register</h2>
            <form method="post" , class="form" , role="form">
                {{ form.csrf_token }}
                {{ wtf.form_field(form.username) }}
                {{ wtf.form_field(form.password) }}
                {{ wtf.form_field(form.confirm) }}
                {{ wtf.form_field(form.submit, button_map={'submit': 'primary'}) }}
                {{ wtf.form_field(form.login, type="button", onclick="window.location='/login'")}}
            </form>
        </div>
    </div>
    {% endblock %} {% block log_action %}
    <a href="login">Login</a>
    {% endblock %}