{% extends "layout.html" %} {% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <!--返回-->
            <button type="button" class="btn btn-primary" onclick=window.location='{{ url_for("reports", projectid=projectid) }}'>
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back
            </button>
            <!--下载-->
            <button type="button" class="btn btn-primary" onclick=window.location="{{ url_for('dl_testreport', projectid=projectid, filename=report) }}">
                <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> Download
            </button>
            <!--刷新-->
            <button type="button" class="btn btn-primary" onclick="window.location.reload()">
                <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Refresh
            </button>
        </div>
    </div>
    {{ reportcontent| safe }}
</div> {% endblock %}